.light {
    position: absolute;
    width: 110vw;
    height: 110vh;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 20%, rgba(255,255,255,0) 60%);
    opacity: 0.4;
    z-index: 100;
    pointer-events: none;
}