.wrapper {
    position: absolute;
    width: 110vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../images/bg.jpg");
    background-size: 100% auto;
}